@import "tailwindcss";

@source "./src/main/resources/templates/**/*.html";

@theme {

    --color-brand: #3b82f6; --font-display: "Inter", "sans-serif";
    --color-primary: #3B3B3B;
}

@layer base {

    h1 {

        @apply text-2xl font-bold;
    }

}